%flex-column {
  display: flex;
  flex-direction: column;
}

%flex-row {
  display: flex;
}

%flex-end {
  justify-content: end;
}

%flex-center {
  justify-content: center;
  align-items: center;
}

// GLOBAL STYLES

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: Arial, sans-serif;
}

// MAIN STYLES

ul {
  @extend %flex-row;
  @extend %flex-end;
  gap: 2rem;
  padding: 3rem;
  

  li {
    list-style-type: none;
    border: 1px solid transparent;

    a {
      color: black;
      text-decoration: none;
      font-size: 1.5rem;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}

section {
  @extend %flex-column;
  @extend %flex-center;
  margin-top: 10rem;
  gap: 2rem;

  .search-box {
    @extend %flex-column;
    gap: 1rem;
    width: 50%;
    form {
      @extend %flex-column;
      gap: 1rem;
      input[type="text"] {
        width: 100%;
        padding: 1.5rem 1rem;
        border-radius: 2.4rem;
        outline: none;
        border: 1px solid #dfe1e5;
      }
      input[type="text"]:hover {
        box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
        border-color: transparent;
      }

      .buttons {
        @extend %flex-row;
        @extend %flex-center;
        gap: 1rem;
        input[type="submit"],
        button[type="submit"] {
          color: #3c4043;
          border: 1px solid #ccc;
          border-radius: 4px;
          padding: 0.5rem 1rem;
        }
      }
    }
  }
}
