* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: Arial,sans-serif;
}



header{
    border-bottom: 1px solid #ccc;
    padding-bottom: 40px;
  }
.navbar{
    background-color: white;
    display: inline;
    
  }
.navbar p{
    margin-left: 40px;
}


div ul{
    overflow: hidden;
    margin: 0;
    padding: 30px;
  }

ul li{
    padding-right:20px;
    list-style-type: none;
    float: right;
    border: 1px solid transparent;
    text-align: center;
  }
  

.logo{
    float: left;
  }
 

ul li a{
    color: black;
    text-decoration: none;
  }

  
ul li a:hover{
    text-decoration: underline;
  }

.main{
  float: left;
  width: 60%;
  margin-left: 40px;
  margin-top: 40px;
}

.main .head{
  margin-bottom: 20px;
}

.main .head p{
  min-width: 167px;
  width: 16%;
  font-size: 16px;
  min-height: 42px;
  font-weight: 500;
  color: #333;
  font-style: inherit
}
.main .line{
  margin-bottom: 20px;
}
.main .line input{
  width: 500px;
  height: 30px; ;
}



.line::after{
  content: "";
  display: table;
  clear: both;
}
.linec{
  float: left;
  width: 30%;
}

.linec label{
  min-width: 167px;
    height: 42px;
    color: #222;
    font-size: 13px;
    line-height: 16px;
    vertical-align: middle;
}

.linec input{
  font-size: 13px;
  height: 25px;
  padding: 1px 8px;
}

input[type="text"]:focus{
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3);
  border: 1px solid #4d90fe;
}
.main .btn{
  text-align: center;
  
}
.main .btn input{
  background-color: #4d90fe;
  margin-top: 20px;
  line-height: 100%;
  height: 30px;
  min-width: 120px;
  color: white;
  font-size: 13px;
  border: 1px solid #f8f9fa;
}




  
