* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  
body {
    font-family: 'Segoe UI', Tahoma, sans-serif;
    font-size: 81.25%;
  }
  
  body .main {
    font-family: Arial, sans-serif;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding: 50px;
  }
  .navbar{
    background-color: white;
  }

  div ul{
    overflow: hidden;
    margin: 0;
    padding: 30px;
  }
  ul li{
    padding-right:20px;
    list-style-type: none;
    margin: 5px;
    display: inline;
    float: right;
    border: 1px solid transparent;
    text-align: center;
  }
  ul li a{
    color: black;
    text-decoration: none;
  }
  ul li a:hover{
    text-decoration: underline;
  }
  

  
  .logo {
    display: flex;
    justify-content: center;
    margin: 30px;
  }
  
  .search-box {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  
  input[type="text"] {
    width:100%;
    font-size: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 24px;
    outline: none;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
 
  }
  input[type="text"]:hover{
    background: #fff;
    box-shadow: 0 1px 6px rgba(32, 33, 36, .28);
    border-color: transparent; 
  }

  
  input[type="submit"], button[type="submit"]{
    color: #3c4043;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
  }


 